* {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #f0f2f5;
}
.main {
  display: flex;
}
.sg {
  width: 55%;
  /* height: 100vh; */
  padding: 15%;
  padding-right: 32px;
  position: relative;
  /* animation-name: a;
  animation-duration: 3s; */
}
.sv {
  width: 45%;
  /* height: 100vh; */
  text-align: center;
  position: relative;
  align-self: center;
  /* top: 110px; */
  /* animation-name: b;
  animation-duration: 3s; */
}
/* img {
} */
p {
  width: 500px;
  height: 64px;
  font-size: 28px;
  line-height: 28px;
  margin-left: 32px;
  margin-top: -30px;
}
input {
  display: block;
  border-radius: 6px;
  font-size: 17px;
  width: 93%;
  padding: 16px;
  margin: auto;
  border: 1px solid #dddfe2;
  color: #1d2129;
}
.form_facebook {
  align-self: center;
  background-color: white;
  width: 396px;
  padding: 10px;
  /* position: absolute;
  top: 110px; */
  /* margin-top: 130px; */
  /* padding-bottom: 24px; */
  /* padding-top: 10px; */
  border: none;
  border-radius: 8px;
  line-height: 1.34;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
input[type="submit"] {
  background-color: #0866ff;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
a {
  color: #0866ff;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}
hr {
  width: 89%;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid white;
  margin-left: 12px;
}
.new_acc {
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background-color: #42b72a;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}
/* @keyframes a {
  0% {
    left: -16%;
  }
  100% {
    left: 0;
  }
}
@keyframes b {
  0% {
    right: -16%;
  }
  100% {
    right: 0;
  }
} */
/* @media only screen and (max-width: 600px) {
  body {
    box-sizing: border-box;
  }
  .main {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .sub1 {
    width: 99%;
    height: 10vh;
    padding: 0;
    padding-right: 0px;
    position: relative;
    animation-name: a;
    animation-duration: 3s;
  }
  .sub2 {
    width: 90%;
    height: 10vh;
    animation-name: b;
    animation-duration: 3s;
  }
  img {
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: -175px;
  }
  p {
    width: 56%;
    height: 10px;
    text-align: center;
    font-size: 22px;
    margin-left: 70px;
    margin-top: -20px;
  }
  .form_facebook {
    text-align: center;
    width: 90%;
    height: 49vh;
  }
} */
